fastapi
uvicorn
streamlit
openai
faiss-cpu
yfinance
beautifulsoup4
requests
pyttsx3
transformers
langchain
sentence-transformers
pydub
python-dotenv
python-multipart
git+https://github.com/openai/whisper.git
